---
title: Digital Marketer, Conversion Strategist
image:
  path: images/Rakshit yellow frame vector.webp
  height: 100
  width: 100
---

<!--<div id="modal">
    
    <div class="modal-content">
        <div class="modal-header">
            <span id='close-btn'>&times;</span>
            <h3 style="color: white">Subscribe to Bi-weekly Newsletters 📭</h3>
          </div>
      <p style="color: white;">Every Two weeks I publish new content on Marketing, SEO and Lead Generation.  Subscribe, so that I can send you my "top" content via Email.
          <form style="width: 45%;" class=”newsletter-form” action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=RakshitSoral', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><p><input class=”newsletter-email” value="Enter Email" type="text" name="email"/></p><input type="hidden" value="RakshitSoral" name="uri"/><input type="hidden" name="loc" value="en_US"/><input style="font-size: 30px;" class=”newsletter-submit” type="submit" value="Subscribe" /></form>
        </p>
    </div>
    <div class="modal-footer">
    </div>
  </div>-->
<section style="color: #ffffff;
background: #34353A;
text-align: left;
margin-top: -100px;
padding-top: 250px;">

  	<div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>
          
  <div class="container halves">
<div class="container" style="width: 60%;">
    <div class="header-collumn ipad mobile w-row">
      <div class="left modify mobile w-col w-col-8">
        <h1 class="heading home ipad mobileside mobileportrait mobile">
          Digital Marketer with a strong passion for <span class="text-span-7">marketing, story-telling.</span></h1>
        <p class="description left iapd mobile">Currently exploring the depth of marketing by experimenting, learning at Simform.</p>
        <a href="{{ site.baseurl }}/contact/" class="button-primary w-button"> Say Hello!</a>
        <div class="icons-block mobile ipad"></div></div>
      <div class="column right ipad-image mobileside mobileportrait w-col w-col-4">
        <img class="image-vector lazyload" loading="lazy" src="{{ site.baseurl }}/images/Rakshit Soral vector2.webp" style="padding-left: 30px;"></div></div><br><br><br>
  
    <div class="horia-description">
      <div class="descri w-container">
        <div class="div-description mobile w-row">
          <div class="description-section w-col w-col-8">
            <h1 class="title-text home">Hi there, I’m Rakshit Soral 👋</h1>
            <p class="about-me left">For more than 4 years now, I have tried multiple-roles in Digital marketing, from SEO to running scalable content marketing campaigns. On this fast and mind-blowing journey, I have switched places, made many friends, learned many things over the years, and I am grateful for that. <br><br>At this moment, the journey has brought me to Simform in Ahmedabad, Gujarat where I am associated as a campaign manager. As the part of my work, I launched microsites, ran content-marketing/ paid campaigns, explored a few tactics of promotions and marketing. <br><br>
              With a goal of pushing boundaries in Marketing, I have even worked for some local clients and helped them increase the online visibility of their business. 
              <p><a href="{{ site.baseurl }}/about/"><i>Learn more about me &#8608;</i></a></p>  
            </p></div>
              <div class="image-horia right mobile w-col w-col-4">
                <img class="lazyload" loading="lazy" src="{{ site.baseurl }}/images/Digital marketing freelancer.webp" style="height: 500px"></div></div></div><br><br><br><br><br>

              <div class="horia-description">
      <div class="descri w-container">
        <div class="div-description mobile w-row">
          <div class="description-section w-col w-col-8">
            <h1 class="title-text home">Let's talk skillset ⚙️</h1>
            <p class="about-me left">I am currently on a never-ending path of learning. From web designing to marketing, I have developed skills that have helped me grow as a professional.</p><br>
            <div class="container">    
              <div class="row">
                 <div class="col-xs-12 col-sm-4 col-lg-2">
                    <div class="service-block-container">
                       <div class="service-block">
                          <div class="service-underlay">
                             <span class="service-name">
        Strategy
        </span>
                          </div>
                          <span class="service-icon">
        <em class="fa fa-bell-o"></em>
        </span>
                          <span class="service-desc">
        Complete marketing strategy for maximum conversion.
        </span>
                       </div>
                    </div>
                 </div>
                 <div class="col-xs-12 col-sm-4 col-lg-2">
                    <div class="service-block-container">
                       <div class="service-block">
                          <div class="service-underlay">
                             <span class="service-name">
        SEO
        </span>
                          </div>
                          <span class="service-icon">
        <em class="fa fa-hourglass-2"></em>
        </span>
                          <span class="service-desc">
        An increased search visibility with SEO.
        </span>
                       </div>
                    </div>
                 </div>
                 <div class="col-xs-12 col-sm-4 col-lg-2">
                    <div class="service-block-container">
                       <div class="service-block">
                          <div class="service-underlay">
                             <span class="service-name">
        Content
        </span>
                          </div>
                          <span class="service-icon">
        <em class="fa fa-newspaper-o"></em>
        </span>
                          <span class="service-desc">
        Creative, Technical, and Engaging Content.
        </span>
                       </div>
                    </div>
                 </div>
                 <div class="col-xs-12 col-sm-4 col-lg-2">
                    <div class="service-block-container">
                       <div class="service-block">
                          <div class="service-underlay">
                             <span class="service-name">
        Automation
        </span>
                          </div>
                          <span class="service-icon">
        <em class="fa fa-rocket"></em>
        </span>
                          <span class="service-desc">
        Automating marketing strategy for increased ROI.
        </span>
                       </div>
                    </div>
                 </div>
                 <div class="col-xs-12 col-sm-4 col-lg-2">
                    <div class="service-block-container">
                       <div class="service-block">
                          <div class="service-underlay">
                             <span class="service-name">
        PPC
        </span>
                          </div>
                          <span class="service-icon">
        <em class="fa fa-cogs"></em>
        </span>
                          <span class="service-desc">
        Generating high-wualified leads with PPC.
        </span>
                       </div>
                    </div>
                 </div>
                 
              </div>
           </div><br><br><br><br><br><br><br><br><br>
           <h1 class="title-text home">Full-time Work Experience 👨‍💻</h1>
           <div class="linkedin-text w-clearfix"><br>
  
             <i> <a href="https://www.linkedin.com/in/rakshitsoral/?originalSubdomain=in" target="_blank">View more on Linkedin</a></i></div>
            
              <div class="div-block-4"></div>
           <p class="about-me left">My work experience has offered me a fantastic opportunity to learn, experiment, and refine my craft in the process. Working in both B2B and B2C industries, I’ve build dynamic and static websites using wordpress, webflow and static site generators (jekyll and hugo) respectively, performed Search Engine Optimization (SEO) to generate organic traffic, implemented relevant CTAs to generate leads, and developed value-adding email marketing strategies to help nurture them.

          </p>
          
          <div class="w-layout-grid resume-grid mobilegrid">
            <div class="resume-text mobiletext">Oct 2017 - Present</div>
            <div class="resume-text mobileresumetext">
              <strong class="bold-text-4">Simform</strong>" Ahmedabad "<br><br>
              <span class="text-span productdesigner">Campaign Manager</span></div>
            <div class="resume-text">March 2016- Sep 2017</div>
            <div class="resume-text"><strong class="bold-text-4 invmobile">Hoojook</strong>" Jaipur"<br><br>
              <span class="text-span">Digital Marketing Executive</span></div>
                 <div class="resume-text">July 2015- Feb 2016</div>
            <div class="resume-text"><strong class="bold-text-4 invmobile">Cardekho</strong>" Jaipur"<br><br>
              <span class="text-span">Jr. News reporter</span></div></div>
              
            </div>
                
              
              
            </div>
  </div><br><br><br><br>
 
<div class="horia-description">
  <div class="descri w-container">
    <div class="div-description mobile w-row">
      <div class="description-section w-col w-col-8">
        <h1 class="title-text home">Some Insights from me ✍️</h1>
        <p class="about-me left">Having worked as a Digital marketer in B2B and B2C Industries, I publish my insights from time-to-time. Here are couple of my articles on marketing:</p>
        </p>
        <p class="about-me left"><a href="{{ site.baseurl }}/blog/"><i>Read more insights &#8608;</i></a></p>  
      </div>
          <div class="image-horia right mobile w-col w-col-4">
          <ul class="image-grid">
     {% for post in site.posts limit:4 %}
                       
<li><a href="{{ post.url }}"> <img src="{{ site.baseurl }}/images/{{ post.featured-image }}"> <div class="details">
  <div class="name">{{ post.categories }}</div>
  <div class="position">{{ post.subtitle }}</div>
</div></a></li>{% endfor %}

</ul>
</div></div></div><br><br><br><br><br>
</section>

<script>
// DISCLAIMER: This function does require jQuery. I've used it here because the project I'm building this for already uses jQuery, so I thought why not. It can be modified quite simply to be done in raw JavaScript.  Just thought I'd let you know.




// This is the funtion you need to copy
// Copy from line 9 to 34

function autoType(elementClass, typingSpeed){
  var thhis = $(elementClass);
  thhis.css({
    "position": "relative",
    "display": "inline-block"
  });
  thhis.prepend('<div class="cursor" style="right: initial; left:0;"></div>');
  thhis = thhis.find(".text-js");
  var text = thhis.text().trim().split('');
  var amntOfChars = text.length;
  var newString = "";
  thhis.text("|");
  setTimeout(function(){
    thhis.css("opacity",1);
    thhis.prev().removeAttr("style");
    thhis.text("");
    for(var i = 0; i < amntOfChars; i++){
      (function(i,char){
        setTimeout(function() {        
          newString += char;
          thhis.text(newString);
        },i*typingSpeed);
      })(i+1,text[i]);
    }
  },1500);
}

$(document).ready(function(){
  // Now to start autoTyping just call the autoType function with the 
  // class of outer div
  // The second paramter is the speed between each letter is typed.   
  autoType(".type-js",200);
});
</script>

<script>
window.onload = function () {
  const isNotFirstTime = sessionStorage.getItem('isNotFirstTime')
    document.getElementById('close-btn').onclick = function () {
        document.getElementById('modal').style.display = "none"
        sessionStorage.setItem('isNotFirstTime', true)
    };
  if(!isNotFirstTime) {
    setTimeout(() => document.getElementById('modal').style.display = "block", 10000)
  }
};

</script>
<script type="application/ld+json">
  {% include index.jsonld %}
</script>