<div class="row" style="border-top: 3px solid #333; border-bottom: 3px solid #333; padding-top: 15px;
margin:0 auto;">
<div class="row also-read">

  {% for post in site.posts |  limit:4 %}
  {% if post.title != page.title %}
<div class="col-6 col-md-4 item">
    
    <div class="rel">
      {% if post.featured-image %}{% include post-featured-image.html image=post.featured-image alt=page.featured-image-alt %}{% endif %}
      <h4 style="font-size: 18px;">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h4>
     </div>
              </div>
              {% endif %}

              {% endfor %}

</div>


 

</div>