.blog-posts {
  list-style: none;
  padding: 0;

  li {
    margin: 30px 0;
  }
}

.blog-post {
  h3 {
    margin: 0;
    a {
      color: black;
      text-decoration: none;
      font-weight: normal;
      font-size: 1.3em;
    }
  }

  h2 {
    text-align: left;
  }

  .post-details {
    margin: 5px 0;
    font-size: 1.2rem;

    .blog-filter {
      display: inline-block;
      text-align: left;

      a {
        position: relative;
        top: -5px;
      }
    }

    a {
      text-decoration: none;
    }

    .post-date {
      position: relative;
      top: -3px;
      margin-left: 5px;
    }

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  .post-content {
    .button {
      margin: 30px 0 0 0;
    }
  }
}

.pagination {
  text-align: center;
}

.blog-filter {
  text-align: center;

  a {
    
    padding: 3px 5px;
    font-size: 0.8em;
    border-radius: 5px;
    color: black;
    transition: 0.2s ease-in-out;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}
.sign-off .bio {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 48%;
  padding: 28px 32px 0 104px;
}
.note {
  margin-bottom: 20px;
  color: black;
  padding: 10px 0!important;
  border: 1px solid black;
  
  border-left: 50px solid #e7553d;
  background: white !important;
}
hr {
  height: 8px;
  border-radius: 15px;
}
.one {
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107A 29%,
    #FF1361 67%,
    #FFF800 100%
  );
}


.img1 {
  height: 100%;
  width: 500px;

}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cards_item {
  display: flex;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
  .listfeaturedtag .wrapthumbnail {
   width: 100%;
  }
}
@media (min-width: 56rem) {
  .cards_item {
    width: 100%;
  }
  .listfeaturedtag .wrapthumbnail {
    width: 100%;
   }
}

.card {
  border-radius: 0.25rem;
  border: black solid !important;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 60px;

}

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(#000, .1);
  margin-bottom: 1.6%;
  background: white;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
 
.card_content {
  padding: 10px;
}

.card_title {
  color: black;
  letter-spacing: 1px;
  margin: 0px;
}

.card_text {
  color: black;
  line-height: 1.5;
}
.btn-blog {
  color: black;
  padding: 0.8rem;
  border-radius: 4px;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid black(255, 255, 255, 0.2);
  background: #e7553d;
}

.btn-blog:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

@media (max-width: 600px) {
  .featured-box-img-cover
  {
    width: 100%;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    height: 100%;
    width: 317px;
  }

  .card {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

}
.row
{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;

}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
 
}
.mainheading {
  padding: 0rem 0rem 1rem 0;
}
.mainheading h1.posttitle {
  font-weight: 700;
  margin-bottom: 1rem;
}
.article-post {
  font-size: 1.1rem;
  line-height: 1.8;
  color: rgba(0,0,0,.8);
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
.sidebar {
  max-width: 340px;
  font-size: 15px;
}
.card1
{
  position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.author-thumb {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 13px;
  border-radius: 100%;
}
.listfeaturedtag .wrapthumbnail {
  height: 430px;
  flex: 0 0 auto;
  width: 318px;
}
.card-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.thumbnail {
  width: auto;
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  height: 100%;
}
.listfeaturedtag h2.card-title, .listrecent h2.card-title {
  font-weight: 500;
  line-height: 1.25;
}
.card-title {
  margin-bottom: .75rem;
}
@media (max-width: 600px) {
  .listfeaturedtag .wrapthumbnail {
    height: 386px;
    flex: 0 0 auto;
    width: 100%;
}
}