$color: skyblue;
$lineColor: goldenrod;
$fontColor: #bbb;
$bgColor1: #222;
$bgColor2: #444;
$yearBgColor: #333;

$breakpoint: 700px;

* {
  box-sizing: border-box;
}

html {
  background: $html-background-color;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: #E7553D;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  color: black;
  font-weight: 400;
  font-size: 3.3rem;
  margin: 0;
  line-height: 1.4;
}

h2 {
  color: black;
  font-weight: 400;
  font-size: 27px;
  margin: 0 0 30px 0;
  line-height: 1.65;
  

}

h3 {
  color: black;
  font-size: 24px;
  margin: 0 0 20px 0;
  line-height: 1.4;
}

h4 {
  font-size: 22px;
  margin: 0 0 10px 0;
  line-height: 1.4;
}

p,
address,
ul,
ol,
pre {
  margin: 0 0 20px 0;
}

address,
ul,
ol {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.75;
}

pre {
  padding: 10px;
  background: black;
  border-radius: 2px;
}

p {
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1.848rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 2em;
  color: black;
}
#scroll-to-top {
  display: inline-block;
  background-color: #222831;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  margin: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s;
  z-index: 1000;
}
#scroll-to-top:hover {
  cursor: pointer;
  background-color: whitesmoke;
}
#scroll-to-top:active {
  background-color: #b19cd9;
}
.text-js{
  opacity: 0;
}
.cursor{
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: white;
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
}
@keyframes flash{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

//Define vars
$mainColor:#fff;
$bgColor:#353b48;
$fSize:50px;

// Define mixins (functions)
@mixin txtShadow($h,$v,$bl,$co) {
  -webkit-text-shadow: $h $v $bl $co;
  -moz-text-shadow: $h $v $bl $co;
  text-shadow: $h $v $bl $co;
}


//Start Body
body{

  //Start .Container
    .container1{
      width: 70%;
      margin: auto;


      //start .logo
        .logo{
          color:$mainColor;
          text-transform: uppercase;
          letter-spacing: 10px;
        }
      //End .logo

      //Start .title
        .title{
          text-align: center;
          padding-top:30px;
          font-size: $fSize;
          color:#7f8fa6;
          text-transform: uppercase;

            //Start 404 span
            span{
              color:$mainColor;
              font-size: $fSize +100;
              font-family: verdana;
              cursor: help;
              letter-spacing: -15px;
              animation-name: anim;
              animation-duration:10s;
              animation-iteration-count: infinite;
            }
            //End 404 span
        }
      //End .title

      //Start form
      form{
        //Start input
        input{
          margin-top: 30px;
          margin-left: 220px;
          width: 50%;
          padding: 5px;
          border:none;
          border-bottom: 2px solid $mainColor;
          background-color: transparent;
          font-size:$fSize - 30;
          color: $mainColor;
        }
        //End input

        //start btn
        button{
          margin-left:0;
          border:2px solid;
          padding: 10px;
          outline: none;
          background-color: transparent;
          font-size: $fSize - 30;
          color:$mainColor;
          border-radius: 50%;
          cursor: pointer;
          border: 1px solid hotpink;
        }
        //End btn

      }
      //End form
    }
    //End .Container



    //Star Footer
    footer{
      margin-top: 50px;
      @include txtShadow(3px, 5px, 5px, #000);
		}
    //End footer




    //General styles into body
  
}
//End Body

//KeyFrames
@keyframes anim{
    0%{
      letter-spacing: -15px;
    }
    50%{
      letter-spacing: 25px;
    }
    100%{
      letter-spacing: -15px;
    }
  }

  .timeline {
    position: relative;
    padding: 1rem;
    max-width: 1300px;
    
    &:before {
      content: '';
      position: absolute;
      height: 100%;
      border: 1px solid $lineColor;
      right: 40px;
      top: 0;
    }
    
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    
    @media screen and (min-width: $breakpoint) {
      padding: 2rem;
      &:before {
        left: calc(50% - 1px);
        right: auto;
      }
    }
  }
  
  .timeline__item {
    
    padding: 1rem;
    border: 2px solid $lineColor;
    border-image: linear-gradient(to right, $color 0%, $lineColor 100%);
    border-image-slice: 1;
    position: relative;
    margin: 1rem 3rem 1rem 1rem;
    clear: both;
    
    &:after,
    &:before {
      content: '';
      position: absolute;
    }
    
    &:before {
      right: -10px;
      top: calc(50% - 5px);
      border-style: solid;
      border-color: $lineColor $lineColor transparent transparent;
      border-width: 10px;
      transform: rotate(45deg);
    }
    
    @media screen and (min-width: $breakpoint) {
      width: 44%;
      margin: 1rem;
      
      &:nth-of-type(2n) {
        float: right;
        margin: 1rem;
        border-image: linear-gradient(to right, $lineColor 0%, $color 100%);
        border-image-slice: 1;
  
        &:before {
          right: auto;
          left: -10px;
        border-color:transparent transparent $lineColor $lineColor;
        }
      }
    }
  }
  
  .timeline__item--year {
      text-align: center;
    max-width: 150px;
    margin: 0 48px 0 auto;
    font-size: 1.8rem;
    background-color: #e7553d;
    line-height: 1;
    border-image: none;
    padding: .5rem 1rem 1rem;
    
    &:before {
      display: none;
    }
    
    @media screen and (min-width: $breakpoint) {
      text-align: center;
        margin: 0 auto;
      
      &:nth-of-type(2n) {
        float: none;
        margin: 0 auto;
        border-image: none;
    
        &:before {
          display: none;
        }
      }
    }
  }
  
  .timeline__title {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
  }
  
  .timeline__blurb {
    line-height: 1.5;
    font-size: 1rem;
    margin: .5rem 0 0;
  }

 code,
 kbd,
 pre,
 samp {
   font-family: Menlo, Monaco, "Courier New", monospace;
   font-size: 0.875em;
 }
 
 code {
   color: #eea8b9;
   padding: 0.25em;
   word-wrap: break-word;
 }
 
 pre {
   background-color: #444444;
   color: whitesmoke;
   display: block;
   line-height: 1.5;
   margin: 0 0 1.5625em;
   overflow: auto;
   padding: 0.8125em;
   -moz-tab-size: 4;
     -o-tab-size: 4;
        tab-size: 4;
   white-space: pre-wrap;
   word-break: break-all;
 }
 
 pre code {
   background-color: transparent;
   border: 0;
   color: inherit;
   font-size: 1em;
   padding: 0;
 }
 
 #author-bio {
  position: relative;
  margin-top: 30px;
  padding-top: 30px;
  border-top-width: 1px;
  border-style: solid;
  border-color: #364156;
}
#author-bio #author-bio-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#author-bio .author-bio-avatar {
  min-width: 80px;
  margin-right: 30px;
}
#author-bio .author-bio-avatar, #author-bio .author-bio-avatar img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#author-bio .author-bio-content {
  position: relative;
}
section#author-bio.clr
{
  display: block;
  padding: 10px 0;
}
div#toc {
  padding: 10px;
  border: 1px solid #aaa;
  display: inline-block !important;
  width: 100%;
}
a[target=_blank] {
  background: url('data:image/gif;base64,R0lGODlhCwALAJEAAP///5mZmf///wAAACH5BAUUAAIALAAAAAALAAsAAAIdlIOJJgEPA3MKKGdRfjRtu3UcFGFXRVpTqh6nZBQAOw==') no-repeat center right;
  padding-right: 17px;
}

$green: #278f27;
$fuscia: yellow;
$white: white;

@function rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}
.grid {
	display: grid;
	gap: rem(40px);
	
	@media (min-width: 50rem) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.col {
	padding: rem(20px);
	border: 1px solid rgba(255, 255, 255, 0.4);
}

.contact-list {
	font-weight: 700;
	display: grid;
	grid-template-columns: minmax(0, max-content);

  dt,
  dd {
    margin: 0;
  }

  > * + * {
    margin-top: rem(20px);
  }
}

.c-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: $green;
  background-color: $white;
  padding: rem(5px) rem(5px) rem(5px) rem(25px);
  border-radius: 999px;
  transition: color 200ms;
	justify-content: flex-start;

  &:hover,
  &:focus {
    color: $fuscia;
  } 
}

.c-icon-button__icon {
	display: flex;
	flex: 0 0 auto;
  border-radius: 50%;
  width: rem(25px);
  height: rem(25px);
  background-color: $fuscia;
  color: $white;
  align-items: center;
  font-size: rem(20px);
  padding: rem(10px);
	margin-left: auto;

  svg {
    fill: $white;
    width: 100%;
    height: 100%;
  }
}

.c-icon-button__label {
  margin-right: rem(10px);
}

.c-icon-button__detail {
	flex: 0 1 auto;
  margin-right: rem(20px);
	overflow-wrap: anywhere;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Inline-block */
.contact-list--inline-block {
	display: inline-block;
	margin: 0;
}

/* Inline-flex */
.contact-list--inline-flex {
	display: inline-flex;
	flex-direction: column;
	margin: 0;
}

/* Flex */
.contact-list--flex {
	display: flex;
	flex-direction: column;
}

