html {
  background: $html-background-color;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  color: white;
  font-weight: 400;
  font-size: 3.3rem;
  margin: 0;
  line-height: 1.4;
}

h2 {
  font-weight: 400;
  font-size: 30px;
  margin: 0 0 30px 0;
  line-height: 1.4;
}

h3 {
  font-size: 27px;
  margin: 0 0 20px 0;
  line-height: 1.4;
}

h4 {
  font-size: 26px;
  margin: 0 0 10px 0;
  line-height: 1.4;
}

p,
address,
ul,
ol,
pre {
  margin: 0 0 20px 0;
}

address,
ul,
ol {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.75;
}

pre {
  padding: 10px;
  background: #eee;
  border-radius: 2px;
}

p {
  font-family: 'Merriweather', serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 2em;
  color: white;
}
#scroll-to-top {
  display: inline-block;
  background-color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  margin: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s;
  z-index: 1000;
}
#scroll-to-top:hover {
  cursor: pointer;
  background-color: #1C2638;
}
#scroll-to-top:active {
  background-color: #b19cd9;
}
.text-js{
  opacity: 0;
}
.cursor{
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: white;
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
}
@keyframes flash{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

