html {
  background: $html-background-color;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  color: white;
  font-weight: 400;
  font-size: 3.3rem;
  margin: 0;
  line-height: 1.4;
}

h2 {
  font-weight: 400;
  font-size: 30px;
  margin: 0 0 30px 0;
  line-height: 1.4;
}

h3 {
  font-size: 27px;
  margin: 0 0 20px 0;
  line-height: 1.4;
}

h4 {
  font-size: 26px;
  margin: 0 0 10px 0;
  line-height: 1.4;
}

p,
address,
ul,
ol,
pre {
  margin: 0 0 20px 0;
}

address,
ul,
ol {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.75;
}

pre {
  padding: 10px;
  background: #eee;
  border-radius: 2px;
}

p {
  font-family: 'Merriweather', serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 2em;
  color: white;
}
#scroll-to-top {
  display: inline-block;
  background-color: #222831;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  margin: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s;
  z-index: 1000;
}
#scroll-to-top:hover {
  cursor: pointer;
  background-color: whitesmoke;
}
#scroll-to-top:active {
  background-color: #b19cd9;
}
.text-js{
  opacity: 0;
}
.cursor{
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: white;
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
}
@keyframes flash{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

//Define vars
$mainColor:#fff;
$bgColor:#353b48;
$fSize:50px;

// Define mixins (functions)
@mixin txtShadow($h,$v,$bl,$co) {
  -webkit-text-shadow: $h $v $bl $co;
  -moz-text-shadow: $h $v $bl $co;
  text-shadow: $h $v $bl $co;
}


//Start Body
body{

  //Start .Container
    .container1{
      width: 70%;
      margin: auto;


      //start .logo
        .logo{
          color:$mainColor;
          text-transform: uppercase;
          letter-spacing: 10px;
        }
      //End .logo

      //Start .title
        .title{
          text-align: center;
          padding-top:30px;
          font-size: $fSize;
          color:#7f8fa6;
          text-transform: uppercase;

            //Start 404 span
            span{
              color:$mainColor;
              font-size: $fSize +100;
              font-family: verdana;
              cursor: help;
              letter-spacing: -15px;
              animation-name: anim;
              animation-duration:10s;
              animation-iteration-count: infinite;
            }
            //End 404 span
        }
      //End .title

      //Start form
      form{
        //Start input
        input{
          margin-top: 30px;
          margin-left: 220px;
          width: 50%;
          padding: 5px;
          border:none;
          border-bottom: 2px solid $mainColor;
          background-color: transparent;
          font-size:$fSize - 30;
          color: $mainColor;
        }
        //End input

        //start btn
        button{
          margin-left:0;
          border:2px solid;
          padding: 10px;
          outline: none;
          background-color: transparent;
          font-size: $fSize - 30;
          color:$mainColor;
          border-radius: 50%;
          cursor: pointer;
        }
        //End btn

      }
      //End form
    }
    //End .Container



    //Star Footer
    footer{
      margin-top: 50px;
      @include txtShadow(3px, 5px, 5px, #000);
		}
    //End footer




    //General styles into body
  
}
//End Body

//KeyFrames
@keyframes anim{
    0%{
      letter-spacing: -15px;
    }
    50%{
      letter-spacing: 25px;
    }
    100%{
      letter-spacing: -15px;
    }
  }