---
layout: default
---
{% assign blog = site.pages | where: "path", "blog/index.html" | first %}

<section style="color: #ffffff;
background: #34353A;
text-align: left;
margin-top: -100px;
padding-top: 250px; background-image: url(/images/shattered-island.gif);"> <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>	<div class="container">
		{% if blog.heading %}
		<h2><a href="{{ site.baseurl }}/blog/">{{ blog.heading }}</a> / {{ page.title | capitalize }}</h2>
		{% endif %}
		{% if blog.subtitle %}
			<p class="subtext">{{ blog.subtitle }}</p>
		{% endif %}
	</div>
</section>

<section>
	<div class="text-container">
		<ul class="blog-posts">
			{% include list-posts.html posts=page.posts %}
		</ul>
	</div>
</section>
