---
layout: page
permalink: "/clients"
---

{% assign portfolio = site.pages | where: "path", "portfolio.html" | first %}
<section>
  
  <div class="blog-post text-container" style="display: grid;">
     {% if page.subtitle %}
    <h2 class="title-text home" style="color:black">{{ page.subtitle }}</h2>
    {% endif %}
  </div>
  <div class="container">
    <p>
      <img src="{{ site.baseurl }}/images/{{ page.image_path }}" class="screenshot" alt="{{ post.alt }}">
    </p>
    <div>
      {{ content }}
    </div>
    <p>
      <a href="{{ page.external_url }}">View {{ page.title }} &rarr;</a>
    </p>
  </div>
</section>

 
