---
layout: page
---

<section class="diagonal">
  <div class="blog-post text-container">
    
    
    <div class="post-content">
        {% if page.heading %}
        <h1>{{ page.heading }}</h1>
      {% elsif page.title %}
        <h1>{{ page.title }}</h1>
      {% endif %}        
      {% include post-title.html %}
    <p class="date">
        <span class="month">{{ page.date | date: '%b' }}</span>
        <span class="day">{{ page.date | date: '%d' }}</span>
        <span class="year">{{ page.date | date: '%Y' }}</span>{% include author.html %}
      </p>    

{% if page.featured-image %}{% include post-featured-image.html image=page.featured-image alt=page.featured-image-alt %}{% endif %}
      {% include share-buttons.html %}<br>
   <p>  {{ post.excerpt | strip_html | strip_newlines | truncate: 156 }} </p>
      <div id="toc"></div>
     
      {{ content }}
      {% include share-buttons.html %}

    </div>
    
    <section id="author-bio" class="clr">

        <div id="author-bio-inner">
      
          <div class="author-bio-avatar">
      
            <a href="https://rakshitsoral.ga/about/" title="About Rakshit Soral" rel="author">
              <img alt="" src="https://secure.gravatar.com/avatar/bb9bf20fb6f55b4af10b0f98c540075f?s=100&amp;d=mm&amp;r=g" srcset="https://secure.gravatar.com/avatar/bb9bf20fb6f55b4af10b0f98c540075f?s=200&amp;d=mm&amp;r=g 2x" class="avatar avatar-100 photo" height="100" width="100">			</a>
      
          </div><!-- .author-bio-avatar -->
      
          <div class="author-bio-content clr">
      
            <h3 class="author-bio-title">
              <a href="https://rakshitsoral.com/about/" title="Visit Author Page">
                Rakshit Soral				</a>
            </h3><!-- .author-bio-title -->
      
            
              <div class="author-bio-description clr">
                <p><a href="https://rakshitsoral.ga/">Rakshit</a> is an accidental Engineer turned Online Marketer who has established online presence of several businesses and clients. He devotes most of his time punching his keyboard, listening & singing songs, and swiping his smartphone. Follow him on Twitter <a href="https://twitter.com/RakshitSoral" rel="nofollow">@RakshitSoral</a>	</p>			</div><!-- author-bio-description -->
      
            
          </div>
      
        </div><!-- #author-bio-inner -->
      
      </section><br><br>
{% include related-post.html %}<br><br>
{% include goodreads_quotes.html %}

  <div id="disqus_thread" style="padding-top: 10px"></div>
  <script src="/js/toc.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
        $('#toc').toc();
    });
    </script>

<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://rakshitsoral1.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
    </div>
</section>

